<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Congrats, your product <%= @product.title %> is now listed on snap2sell !</h1>
    <p>
      You can see it there: <%= "http://snap2sell.wizcover.com/products/#{@product.id}" %>.<br/>
    </p>
    <p>Keep snapping!</p>
  </body>
</html>