/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size:14px;
  line-height:21px;
}

/* GENERAL RULES */
body {
  background:#EEEFE9;
  font-family:"Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size:1em;
  color:#000;
}

a {
  color:#79988F;
  text-decoration:none;
}


/* HEADER */
#header {
  background:#69C1AB;
  height:50px;
  margin-bottom:10px;

}

.header .wrap {
  width:960px;
  margin:0 auto;
}


.logo {
  height:50px;
  width:62px;
  background:image-url("logo.png") no-repeat 3px 8px;
  display:inline-block;
  zoom:1;
}

#header .wrap .btnSell {
  float:right;
  display:inline-block;
  padding:0 20px 0 44px;
  height:100%;
  line-height:50px;
  vertical-align:middle;
  text-transform:uppercase;
  color:#FFF;
  text-decoration:none;
  font-weight:bold;
  background: #62B6A1 image-url("price.png") no-repeat 12px 13px;
  cursor: pointer;
}

.btnSell:hover {
  background:#3B373D;
}


.wrap {
  width:960px;
  margin:0 auto;
}

.wrapper {
  width:100%;
  margin:0 auto;
}

/* POST */
.annonce {
  background:#FFF;
}

.productImage {
  background-size:cover;
  width:100%;
}

.information {
  padding:20px;
}

.information .linkTitle {
  font-size:1.4em;
  display:inline-block;
  text-align:center;
  width:100%;
  line-height:1.3em;
}

.price-product {
  text-transform:uppercase;
  width:20%;
  border-top:2px solid #EEEFE9;
  padding-top:10px;
  text-align:center;
  margin:10px auto 0 auto;
  color:#86B1AA;
}




@media screen and (max-width: 480px) {
    
    .wrap {
      margin:0;
      width:100%;
    }

    .wrapper {
      width:100%;
      margin:0 auto;
    }

    .annonce {
    background:#FFF;
    width:98%;
    padding:0;
    margin:0 auto;
    float:none;
    margin-bottom:20px;
  }

  .productImage {
    background-size:cover;
    width:100%;
  }

  /* BTN CONTACT */
  .btnContact {
    border:2px solid #79988F;
    display:block;
    width:98%;
    padding:20px 0;
    margin:0 auto 20px auto;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    color:#79988F;
    border-radius:2px;
  }

  .btnShare {
    border:2px solid #79988F;
    display:block;
    width:98%;
    padding:20px 0;
    margin:0 auto;
    text-align:center;
    text-decoration:none;
    font-weight:bold;
    color:#79988F;
    border-radius:2px;
  }

  .btnDelete {
    color:#79988F;
    display:block;
    width:20%;
    margin:0 auto;
    padding:20px;
    text-align:center;
  }

  .cancel {
    float:right;
    display:inline-block;
    padding:0 0 0 44px;
    height:100%;
    line-height:50px;
    vertical-align:middle;
    text-transform:uppercase;
    color:#FFF;
    text-decoration:none;
    background: #62B6A1 image-url("close.png")no-repeat 12px 13px;
    height:50px;
    width:5px;
  }

  form {
    padding:5px;
    width:94%;
  }

  form input {
    display:block;
    width:100%;
    padding:10px 4px;
    border:1px solid #A2DAD1;
    border-radius:2px;
    box-shadow:inset 1px 0 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:none;
  }

  #optionClick {
    margin:14px 0 10px 0;
    padding:10px 0 10px 8px;
    display:block;
    background: #EEEFE9 image-url("iconMore.png")no-repeat right;
  }

  #option {
    display:none;
  }

  .poster {
    display:block;
    width:100%;
    background:#79988F;
    border:none;
    text-align:center;
    color:#FFF;
    padding:16px 0;
    margin:10px auto;
    font-weight:bold;
    border-radius:2px;
  }

  .popin{
    background-color:#fff;
    display:none;
    height:auto;
    margin:0 auto;
    width:70%;
    padding:10px 20px 20px 20px;
  }

  #popin-mask{
    background-color: rgba(0,0,0,.8);
  }

  /* INTERIEUR POPIN SHARE */
  .shareContent {
    width:100%;
  }

  .shareContent h3 {
    font-size:1.2em;
    color:#79988F;
    text-align:center;
    padding:10px 0 20px 0;
  }

  .shareContent input {
    width:100%;
    padding:5px 0;
    border:1px solid #79988F;
    border-radius:2px;
    box-shadow:inset 1px 0 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:none;
    margin:0 auto 16px auto;
  }

  .shareContent .facebookShare, .shareContent .twitterShare, .shareContent .emailShare  {
    display:block;
    width:100%;
    text-align:center;
    margin:0 auto;
    font-weight:bold;
    padding:10px 0;
    border:2px #79988F solid;
    border-radius:2px;
    margin-bottom:16px;
  }

  .close {
    display:block;
    text-align:center;
    padding:10px 0;
  }

}
