<div id="header">
  <div class="wrap">
    <a href="/products" alt="Logo Snap To Sell" class="logo"></a>
		<a href="/products" alt="Cancel" class="cancel"></a>
  </div>
</div>

<div class="wrapper">
	<div class="annonce">
    <img ng-src='{{productPictureUrl}}' class='productImage' />
		<form>
			<input type="text" name="" value="" placeholder="Titre" ng-model='product.title' />
			<input type="email" name="" value="" placeholder="Email pour vous contacter" ng-model='product.user.email' />
			<a href="#" id="optionClick">Options Supplémentaires</a>

			<!-- INFORMATION SUPPLEMENTAIRE -->
			<div id="option">
			    <input type="text" name="" value="" placeholder="price" class="price">
			    <input type="text" name="" value="" placeholder="Description" class="description">
			</div><!-- /INFORMATION SUP -->


			<a href="" class="poster" ng-click='create()'>Poster</a>
		</form>
	</div>	
	

</div>


