<div id="header">
  <div class="wrap">
    <a href="/products" alt="Logo Snap To Sell" class="logo"></a>
    <file-upload-button class='btnSell' file='newProductImage'>Sell</file-upload-button>
  </div>
</div>

<div class="wrapper" mary-popin>
	<div class="annonce">
    <img ng-src='{{product.picture.thumb}}' class="productImage"/>
    <div class="information">
      <a ng-href='/products/{{product.id}}' class="linkTitle">{{product.title}}</a>
      <p class="price-product">24$</p>
    </div>
	</div>	
	
	<a href="mailto:loick.muller@gmail.com?Subject=Coucoutoi" alt="" class="btnContact">Contacter le vendeur</a>
	<a href="" alt="" class="btnShare">Partager !</a>
	<a href="" alt="" class="btnDelete">Supprimer</a>
</div>

<div id='kokok' class="popin">
  <div class="shareContent">
    <h3>Partager cette annonce</h3>
    <input type="text" name="" value="" placeholder="URL DE L'ANNONCE">
    <a href="" alt="" class="facebookShare">Facebook</a>
    <a href="" alt="" class="emailShare">Email</a>
    <a href="" alt="" class="twitterShare">Twitter</a>
    <a href="" class="close">close</a>
  </div>
</div>
