<div id="header">
  <div class="wrap">
    <a href="#" alt="Logo Snap To Sell" class="logo"></a>
    <file-upload-button class='btnSell' file='newProductImage'>Sell</file-upload-button>
  </div>
</div>

<div class="wrapper">
  <div class="annonce" ng-repeat='product in products'>
    <a ng-href='/products/{{product.id}}'>
      <img ng-src='{{product.picture.thumb}}' class="productImage"/>
    </a>
    <div class="information">
      <a ng-href='/products/{{product.id}}' class="linkTitle">{{product.title}}</a>
      <p class="price-product">24$</p>
    </div>
  </div> 
</div>
